.bg {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/gridBg.jpg);
    z-index: -1;
}


.videocontainer {
    width: 100%; /* 크롭된 영역의 가로 길이 */
    height: calc(9/16*100vw); /* 크롭된 영역의 세로 길이 */
    overflow: hidden; /* 초과 영역 숨기기 */
    position: relative;
    background-color: black;
  }

.video {
    position: absolute;
    top: 0; /* 왼쪽 상단 기준 */
    left: 0; /* 왼쪽 상단 기준 */
    width: 100%; /* 비디오 크기를 유지 */
    height: auto; /* 부모 높이에 맞춤 */
    transform: rotateY(180deg); /* 좌우 반전 */
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.buttonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.04vh; /* 20px */
    height: 3.13vh; /* 60px */
}

.recordingButton {
    padding: 0.52vh 1.04vh; /* 10px 20px */
    font-size: 0.83vh; /* 16px */
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.infoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    box-shadow: 0px 0px 0.52vh 0px hsl(0, 0%, 69%); /* 10px */
    padding: 1.04vh; /* 20px */
    border-radius: 0.52vh; /* 10px */
    gap: 0.26vh; /* 5px */
}

.infoModal p {
    text-align: center;
    font-size: 3vh; /* 10px */
    font-weight: 300;
}


.bigContainer {
    position: fixed;
    top: 0;
    width: 100%; /* 부모 요소에 맞추기 */
    height: 18vh; /* 컨텐츠에 맞게 조정 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
    z-index: 999;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.40) 100%);

    display: flex;
    align-items: start ; /* 세로 정렬 */
    justify-content: center; /* 가로 정렬 */
}
.container {
    position: relative;
    top: 0vh;
    width: 100%; /* 부모 요소에 맞추기 */
    height: 12vh; /* 컨텐츠에 맞게 조정 */

    display: grid;
    grid-template-columns: 1fr 8fr 1fr; /* 9:1 비율 설정 */
    align-items: center; /* 세로 정렬 */
    gap: 0.5vw; /* 질문과 타이머 사이의 여백 */
}
.questionIndex {
    position: relative;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-size: 4.5vh;
    font-weight: 100;
    font-family: 'Pretendard';
    color: #FFF;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
.timer {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 4.5vh;
    font-weight: 100;
    font-family: 'Pretendard';
    color: #ffffff;
    width: auto;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
.question {
    position: relative;
    vertical-align: middle;
    justify-self: center;
    align-items: center;
    width: 100%;
}

.question p {
    position : relative;
    top : 0.5vh;
    text-align: center;
    color: white;
    font-size: 4vh;
    font-weight: 300;
    font-family: 'Pretendard';
    white-space: pre-wrap;
    overflow-wrap: break-word;
}



.popup{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/gridBg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup .textContainer{
    position : relative;
    display: flex;
    flex-direction: column;
}

.popup .textContainer h1{
    position : relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 6vh;
    font-weight: 500;
    font-family: 'Pretendard';
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.popup .textContainer p{
    position : relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 4vh;
    font-weight: 300;
    font-family: 'Pretendard';
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.popup .endingContent{
    position : relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    gap: 5vh;
}

.popup .endingContent h1{
    position : relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    color: rgb(0, 0, 0);
}

.popup .endingButtons{
    position : relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    
}

.popup .endingButton{
    position : relative;
    padding: 1vh 4vh; /* 10px 20px */
    font-size: 5vh; /* 16px */
    background-color: white;
    color: black;
    border: none;
    opacity: 0.5;
    border-radius: 5vh;
    border: 0.05vh solid #000000;
    box-shadow: 0.3vh 0.5vh 0.5vh #000000;
}

.popup .endingButtons .selected{
    background-color: #000000;
    color :#FFF;
    opacity: 1;
}

.logoPopup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/startingIMG.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

