.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.6vh;
  /* 50px */
  width: 50vw;
}

.bg {
  object-fit: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.section h4 {
  margin-bottom: 5vh;
  /* 10px */
  text-align: center;
  font-family: 'Pretendard';
  font-size: 5vh;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.section p {
  margin-top: 3vh;
  margin-bottom: 1.04vh;
  /* 20px */
  text-align: center;
  font-family: 'Pretendard';
  font-size: 3.2vh;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.section .lastTime {
  margin-top: 2vh;
  margin-bottom: 1.04vh;
  /* 20px */
  text-align: center;
  font-family: 'Pretendard';
  font-size: 3.2vh;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.date {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}

.qrbox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 45vh;
  height: 45vh;
}

.qrcode {
  position: relative;
  width: 110%;
  /*  */
  height: 110%;
  /* 320px */
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
}

.qrcodeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 30vh;
  height: 30vh;
}

.QR {
  display: block;
  /* 캔버스를 블록 요소로 설정하여 주변 마진을 없앰 */
  margin: 0 auto;
  /* 상하 마진을 0으로 설정하고 좌우 마진을 자동으로 설정하여 가운데 정렬 */
  padding: 0;
  /* 패딩을 없앰 */
  background-color: white;
  /* 배경색을 흰색으로 설정, 필요에 따라 조정 */
}
