.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.bg {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen p {
    font-family: 'pretendard';
    font-size: 3.25rem;
    font-weight: 300;
    color: black;
    
}

.screen p span {
    font-family: 'pretendard';
    font-weight: 800;
    text-decoration: underline;
    
}

.text {
    font-size: 96px;
    font-weight: 800;
    font-family: 'pretendard';
    color: white;
}

.button {
    padding: 20px 40px;
    font-size: 32px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}