.bg {
    object-fit: cover;
    position: absolute;
    width: 100%;
    background-image: url('../assets/images/StartScreenImg.svg');
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
}

.section {
    margin: 1.85vh 0;
    text-align: center;
}

.section h3 {
    margin-bottom: 0.93vh;
    font-size: 2vw;
    color: #333;
}

.section button {
    width: 11vw; 
    height: 4vw;
    padding: 0.52vh 1.04vw; /* 10px / 1080 * 100 and 20px / 1920 * 100 */
    margin: 0.26vh; /* 5px / 1080 * 100 */
    border: 0.1vw solid transparent; /* 2px / 1920 * 100 */
    border-radius: 0.52vh; /* 10px / 1080 * 100 */
    font-size: 1.5vw;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.section button:hover {
    background-color: #e0e0e0;
}

.section button.selected {
    border-color: #00000056;
    background-color: #7b7b7b56;
    color: #ffffff;
}

.section button.hovered {
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}

#deviceBtn {
    border: none;
    font-size: 2vh; /* 15px / 1080 * 100 */
    position: absolute;
    right: 0.52vw; /* 10px / 1920 * 100 */
    bottom: 0.93vh; /* 10px / 1080 * 100 */
}

#deviceBtn:hover {
    border: none;
    font-size: 2vh; /* 15px / 1080 * 100 */
    font-weight: bold;
    text-decoration: underline;
}
