.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.screen .uploading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0.52vh; /* 10px */
}

.screen .questionIndex {
    position: absolute;
    top: 1.67vh; /* 32px */
    right: 1.56vw; /* 30px */
    font-size: 3vw;
    font-weight: 300;
    color: #FFF;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.screen .uploading p {
    font-size: 2.5vw;
    font-weight: 300;
}

.tempButton {
    display: flex;
    position: absolute;
    top: 3vh; /* 10px */
    left: 3vh; /* 10px */
    z-index: 999;
}

.screen .watermark {
    position: absolute;
    top: 1.56vh; /* 30px */
    left: 1.56vw; /* 30px */
    font-size: 3vw;
    font-weight: 500;
    color: #FFF;
    opacity: 0.4;
}

.screen .timer {
    position: absolute;
    bottom: 1.67vh; /* 32px */
    right: 1.56vw; /* 30px */
    font-size: 3vw;
    font-weight: 300;
    color: #FFF;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.video {
    width: 100%;
    height: auto;
    background-color: black;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.question {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    bottom: 0;
    padding: 2vh; /* 32px */
    gap: 0.5vh; /* 5px */
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
    white-space: pre-wrap;
}

.question h3 {
    text-align: left;
    color: white;
    font-size: 3vw;
    font-weight: 400;
}

.question p {
    text-align: left;
    color: white;
    font-size: 3vw;
    font-weight: 300;
}

.buttonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.04vh; /* 20px */
    height: 3.13vh; /* 60px */
}

.recordingButton {
    padding: 0.52vh 1.04vh; /* 10px 20px */
    font-size: 0.83vh; /* 16px */
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.infoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    box-shadow: 0px 0px 0.52vh 0px hsl(0, 0%, 69%); /* 10px */
    padding: 1.04vh; /* 20px */
    border-radius: 0.52vh; /* 10px */
    gap: 0.26vh; /* 5px */
}

.infoModal p {
    text-align: center;
    font-size: 3vh; /* 10px */
    font-weight: 300;
}