.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.screen_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.bg {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.title {
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 5.73vw; /* 110px */
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    padding-top: 0.52vh; /* 1% of 1080px */
    margin-left: 1.56vw; /* 3% of 1920px */
    align-items: flex-start; /* 수직 정렬을 위쪽으로 */
    color: rgba(74, 74, 74, 1);
    text-shadow: 0.21vw 0.31vw 0.21vw rgba(0, 0, 0, 0.25); /* 4px 6px 4px */
}

.screen h2 {
    font-size: 1.25vw; /* 24px */
    font-weight: 800;
    color: white;
}

.topicButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.04vw; /* 20px */
    width: 100%;
    margin-top: 6.25vh; /* 120px */
    padding: 1.04vh 2.08vw; /* 20px 40px */
    justify-items: center;
}

.topicButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0.63vh 1.67vw; /* 12px 32px */
    border-radius: 0.52vw; /* 10px */
    box-shadow: 0.16vw 0.16vw 0.26vw 0px #b0b0b0; /* 3px 3px 5px */
    background-color: #cbcbcb6b;
    color: black;
    font-size: 1.67vw; /* 32px */
    border: none;
    cursor: pointer;
    user-select: none;
}

.topicButton.selected {
    background-color: #F6F6F6;
}

.topicButtons button p {
    font-size: 3vw;
    font-weight: 300;
    color: #6A6A6A;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬이 되는 이유!*/
    gap: 0.52vh; /* 10px */
    width: calc(100% - 4.17vw); /* 100% - 80px */
    min-height: 30%;
    background-color: #F9F9F9;
    box-shadow: 0.16vw 0.16vw 0.26vw 0px #b0b0b0; /* 3px 3px 5px */
    border-radius: 0.52vw; /* 10px */
    padding: 3vh 3vw; /* 36px 54px */
}

.description h3 {
    text-align: left;
    font-size: 3vw; /* 36px */
    font-weight: 500;
    color: #6A6A6A;
}

.description h4 {
    text-align: left;
    white-space: pre-wrap;
    font-size: 2.75vw; /* 36px */
    font-weight: 400;
    margin-bottom: 1.04vh; /* 20px */
    color: #6A6A6A;
}

.description p {
    text-align: left;
    font-size: 2.75vw; /* 32px */
    font-weight: 200;
    color: #6A6A6A;
}